.dropdown-content {
	display: none;
}

.js-dropdown-button:hover .dropdown-content {
	display: block;

}
.js-dropdown-button {

	background-color:rgb(40,153,80);

}

h1{
	font-size:3.0rem;
}
button {

	font-size:1.1rem;
}

h1, button { font-family:'Fjalla One', sans-serif; }
.menu{
	margin-bottom:80px;
}

.menu:hover .dropdown-content {
	display: block;

}

* {
	font-family: 'Roboto', sans-serif; 
	padding: 1%;
}

body {
	background-color: rgb(140, 23, 32);
	margin-left: 33%;
	margin-right: 33%;
}

.menu, .dropdown-content, .js-dropdown-button {
	height: 150px;
}

form {
	
	padding: 3%;
}

.js-quote-generator, .js-dropdown-button {
	width: 45%;
	margin-right: 250px;
}

.js-quote-box {

	margin-top:10px;

}

.js-quote-generator {

	height:50px;
	background-color:rgb(25,150,216);
}

.dropdown-content {
	height: 300px;
}

a {

	font-size: 20px;

}

a:hover{
	color:blue;
}

q { 
	font-family: 'Open Sans', sans-serif;
	font-size:1.8rem;
	width:inherit;
	height: inherit;
	margin-bottom:25px;
	 }

	 p{ margin-top:50px; }

	 .user-replace{
	 	margin-top:55px;
	 }